/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2014, 5:13:56 PM
    Author     : ashleybroadwell
*/
* {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

html, body{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
}

table {
    height: 97%; 
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
}

h1 {
    color: blue;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    font-family: monospace;
}
#whereami {
    color: blue;
    vertical-align: middle;
    text-align: center;
}

tr, td {
    height: 30px;
    width: 30px;
    alignment-adjust: middle;
    text-align: center;
    overflow: hidden; 
    border: 1px solid black;
}

.outer {
    background-image:url('pics/redbutton.png');
    background-size:100% 100%;
    //background-color: orange;
    //color: white;
    //border: 1px lightgray dotted;
}

.laser {
    background-image: url('pics/oval2.png');
    //color:white;
    //background-color: blue;
}

.avatar {
   // background-color: black;
    //color: white;
}

#thing {
    position: absolute;
    height: 15px;
    width: 15px;
    transition: left 1s ease-in, top 1s ease-in;
    visibility: hidden;
    z-index: 5;
}

.unHit {
    background-image: url('pics/brickLarge.png');
    background-size: 100% 100%;
    //background-color: gray;
    border: 1px lightgray solid;

    z-index: 1;
    
}
.hit2 {
    background-image: url('pics/crackedSteel.png');
    background-size: 100% 100%;
    background-color: darkgray;
    border: 1px solid black;
}

.hit3 {
    background-image: url('pics/steel.png');
    background-size: 100% 100%;
    background-color: black;
    border: 1px solid black;
    
}
.deathBox {
    background-image: url('pics/skull.png');
    background-size: 30px 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    border: 2px solid gold;
}

.remove {
    background-color: transparent;
    background-image: none;
    border: 1px solid black;

}

.menuOverlay{
    position:fixed; /*or  absolute*/
    margin: auto;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: grey;
    opacity: .5;
    z-index: 1000; /* or  greater value */
}

#OverlayOptions {
    position: relative;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 15%;
    background: gold;
    opacity: 1;
}

.onTop {
    position: relative;
    opacity: 1.0;
    z-index: 3000;
}

#score {
    position: fixed;
    top: 2.3%;
    right: -91%;
    z-index: 3000;
    font-size: 1.25em;
    color: white;
}

a.onTop {
    position: absolute;
    opacity: 1.0;
    z-index: 3000;
}

#menuClick {
    //padding-top: 13%;
    margin-top: 20%;
    position: relative; //could be a problem
    text-align: center;
    vertical-align: middle;
    z-index: 2000;
}

#selector td {
    border: 1px lightgray dotted;
}

#resume {
    padding-top: 15%;
    position: relative; //could be a problem
    text-align: center;
    vertical-align: middle;
    z-index: 1700;
}

#nextLevel{
    padding-top: 17%;
    position: relative; //could be a problem
    text-align: center;
    vertical-align: middle;
    z-index: 1500;
}

#restart {
    padding-top: 19%;
    position: relative; //could be a problem
    text-align: center;
    vertical-align: middle;
    z-index: 1400;
}


#menuClick h1 {
    padding-top: 10%;
}

#menuClick h1,#nextLevel h1,#resume h1, #restart h1, #clearStorage h1{ 
    color: black;
    margin-top: 5%;
}

.locked {
    background-color: gray;
}

.welcomeScreen {
    font-size: 60%;
    /*position: absolute;*/
    width: 100%;
    height: 80%;
    top: 15%
}

.welcomeScreen h1 {
    font-size: 10em;
    position: relative;
    margin: auto;
}


.myButton {
    position: relative;
    color:#F20d12;
    font-family:Verdana;
    font-size:20px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:-2px 2px 8px #Ff6627;
    bottom: 15%;
    top: 20%;
}

#welcomeButton {
    top: 30px;
}

#clearStorage {
    top: 70px;
}

.tankLeft{
    background-image:url('pics/tankLeft.png'),url('pics/redButton.png');
    background-size: 30px 20px,100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankRight{
    background-image:url('pics/tankRight.png'),url('pics/redButton.png');
    background-size: 30px 20px,100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankTop{
    background-image:url('pics/tankUp.png'),url('pics/redButton.png');
    background-size: 30px 20px,100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankBottom{
    background-image:url('pics/tankDown.png'),url('pics/redButton.png');
    background-size: 30px 20px,100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankUpperLeft{
    background-image:url('pics/tankUpperLeft.png'),url('pics/redButton.png');
    background-size: 30px 20px,100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankUpperRight{
    background-image:url('pics/tankUpperRight.png'),url('pics/redButton.png');
    background-size: 30px 20px,100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankLowerLeft{
    background-image:url('pics/tankLowerLeft.png'),url('pics/redButton.png');
    background-size: 30px 20px,100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankLowerRight{
    background-image:url('pics/tankLowerRight.png'),url('pics/redButton.png');
    background-size: 30px 20px,100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.inner{

    z-index: -500;
}