/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 27, 2014, 5:13:56 PM
    Author     : ashleybroadwell
*/
* {
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

html, body{
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute;
}

table {
    height: 97%; 
    width: 100%;
    table-layout: fixed;
    overflow: hidden;
}

h1 {
    color: blue;
    font-size: 30px;
    vertical-align: middle;
    text-align: center;
    font-family: monospace;
}
#whereami {
    color: blue;
    vertical-align: middle;
    text-align: center;
}

tr, td {
    height: 30px;
    width: 28px;
    alignment-adjust: middle;
    text-align: center;
    overflow: hidden; 
/*    border: 1px solid black;*/
}

.outer {
    background-image:url('pics/redbutton.png');
    background-size: 200% 200%;
    //background-color: orange;
    //color: white;
    //border: 1px lightgray dotted;
    background-repeat: no-repeat;
    background-position: center;
        border: 2px dotted black;

}

.laser {
    background-image: url('pics/oval2.png');
    //color:white;
    //background-color: blue;
}

.avatar {
    // background-color: black;
    //color: white;
}

#thing {
    position: absolute;
    height: 15px;
    width: 15px;
    transition: left 1s ease-in, top 1s ease-in;
    visibility: hidden;
    z-index: 1;
}

.unHit {
    background-image: url('pics/brickLarge.png');
    background-size: 100% 100%;
    background-color: green;
    z-index: 10;

}
.hit2 {
    background-image: url('pics/crackedSteel.png');
    background-size: 100% 100%;
    background-color: black;
    z-index: 10;

}

.hit3 {
    background-image: url('pics/steel.png');
    background-size: 100% 100%;
    background-color: black;
    z-index: 10;


}
.deathBox {
    background-image: url('pics/skull.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    z-index: 10;
}

.remove {
    background-color: transparent;
    background-image: none;
}

.helpOverlay{
     position:fixed;
     margin: auto; 
     top:0; 
     left:0; 
    width:100%;
    height: 100%;
    background: grey;
    opacity: 0.7;
    z-index: 500; /* or  greater value */
     padding: 10%; 
}



.menuOverlay{
    position:fixed; /*or  absolute*/
    margin: auto;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background: grey;
    opacity: 0.7;
    z-index: 1000; /* or  greater value */
}

div.helpOptions {
    font-size: 80%;
    display: inline-block;
    width: 63%;
    height: 63%;
    left: 10%;
    top: 9%;
    position: absolute; 
    vertical-align: center;
    text-shadow: 0px 0px 1px white;
    z-index: 1500;
    background-color: white;
    opacity: 1;
}
ol, li {
    overflow-wrap: break-word;
    width: 87%;
    height: 40%;
    font-size: 111%;
}

div.helpingTheHelp{
    position: relative;
    width: 60%;
    height: 60%;
     left: 23%; 
    position: absolute;
     margin: auto; 
     margin-top: 10%; 
    background-color: white;
    z-index: 1400;
}

#startLevel{
    top: 50px;
    font-size: 215%;
    color: darkblue;
    text-decoration:none;
    text-shadow:-2px 2px 8px #Ff6627;
    position: relative;
}

#OverlayOptions {
    position: relative;
    width: 50%;
    height: 50%;
    margin: auto;
    margin-top: 15%;
    background: white;
    opacity: 1;
}

.onTop {
    position: relative;
    opacity: 1.0;
    z-index: 3000;
}

a.onTop {
    position: absolute;
    opacity: 1.0;
    z-index: 3000;
}

#menuClick {
    //padding-top: 13%;
    margin-top: 20%;
    position: relative; //could be a problem
    text-align: center;
    vertical-align: middle;
    z-index: 2000;
}

#selector td {
    border: 1px lightgray dotted;
}

#resume {
    padding-top: 15%;
    position: relative; //could be a problem
    text-align: center;
    vertical-align: middle;
    z-index: 1700;
}

#nextLevel{
    padding-top: 17%;
    position: relative; //could be a problem
    text-align: center;
    vertical-align: middle;
    z-index: 1500;
}

#restart {
    padding-top: 19%;
    position: relative; //could be a problem
    text-align: center;
    vertical-align: middle;
    z-index: 1400;
}


#menuClick h1 {
    padding-top: 10%;
}

#menuClick h1,#nextLevel h1,#resume h1, #restart h1, #clearStorage h1{ 
    color: black;
    margin-top: 5%;
}

.locked {
    background-color: gray;
}

.welcomeScreen {
    font-size: 60%;
    /*position: absolute;*/
    width: 100%;
    height: 80%;
    top: 15%
}

.welcomeScreen h1 {
    font-size: 10em;
    position: relative;
    margin: auto;
}


.myButton {
    position: relative;
    color:#F20d12;
    font-family:Verdana;
    font-size:20px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:-2px 2px 8px #Ff6627;
    bottom: 15%;
    top: 20%;
}

#welcomeButton {
    top: 30px;
}

#clearStorage {
    top: 70px;
}

div#scoreBar {
    display: inline-block;
    height: 10%;
}

div#scoreBar div#button {
    display: inline-block;
    height: 100%;
    width: 20%;
}

div#scoreBar div#score-header {
    display: inline-block;
    height: 100%;
    width: 80%;
    position: absolute;
    right: .5%;
}

#score {
    z-index: 3000;
    font-size: 1.1em;
    color: black;
    text-align: right;
    padding-right: 20px;
}

button {
    width: 75%;
    text-align: center;
}

#menu {
    margin-top: .5%;
}

.tankLeft{
    background-image:url('pics/tankLeft.png'),url('pics/redbutton.png');
    background-size: 90% 90%,200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankRight{
    background-image:url('pics/tankRight.png'),url('pics/redbutton.png');
    background-size: 90% 90%,200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankTop{
    background-image:url('pics/tankUp.png'),url('pics/redbutton.png');
    background-size: 90% 90%,200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankBottom{
    background-image:url('pics/tankDown.png'),url('pics/redbutton.png');
    background-size: 90% 90%,200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankUpperLeft{
    background-image:url('pics/tankUpperLeft.png'),url('pics/redbutton.png');
    background-size: 90% 90%,200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankUpperRight{
    background-image:url('pics/tankUpperRight.png'),url('pics/redbutton.png');
    background-size: 90% 90%,200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankLowerLeft{
    background-image:url('pics/tankLowerLeft.png'),url('pics/redbutton.png');
    background-size: 90% 90%,200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}

.tankLowerRight{
    background-image:url('pics/tankLowerRight.png'),url('pics/redbutton.png');
    background-size: 90% 90%,200% 200%;
    background-repeat: no-repeat;
    background-position: center;
}

.inner{
    background-image:url('pics/grass.png');
    background-size: 200% 200%;
    //background-color: orange;
    //color: white;
    //border: 1px lightgray dotted;
    /*border: 1px solid black;*/
    background-repeat: no-repeat;
    background-position: center;
    z-index: -500;
}

